<%= simple_form_for(@invoice)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="span4">
        <%= f.input :client_id, collection: Client.all, label_method: :client_name %>
        <%= f.input :job_name %>
      </div>
      <div class="span8">
        <%= f.input :notes, :input_html => { :cols => 2000, :rows => 5 } %>
      </div>
    </div>
    <%= f.input :service_date, :as => "string" %>
    <h3>Invoice Details</h3>
    <div class="items">
      <%= f.nested_fields_for :items, show_empty: true do |builder| %>
        <% if builder %>
          <fieldset class="item">
          <%= builder.input_field :name, placeholder: 'Description' %>
          <%= builder.input_field :quantity, placeholder: 'Quantity' %>
          <%= builder.input_field :cost_per, placeholder: '$ per item' %>
          <%= link_to "Remove Invoice Item", '#', class: "remove" %>
          <%= builder.hidden_field :id %>
          <%= builder.hidden_field :_destroy %>
          </fieldset>
        <% else %>
          <p class="empty">There are no billing items.</p>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Add a Billing Item", '#', class: "add" %>      
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




