<%= simple_form_for(@invoice)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="span4">
        <%= f.input :client_id, collection: Client.all, label_method: :client_name %>
        <%= f.input :job_name %>
      </div>
      <div class="span8">
        <%= f.input :notes, :input_html => { :cols => 2000, :rows => 5 } %>
      </div>
    </div>
    <%= f.input :service_date %>
    <h3>Invoice Details</h3>
       
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




