<%= simple_form_for(@invoice)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="span4">
        <%= f.input :client_id, collection: Client.all, label_method: :client_name %>
        <%= f.input :job_name %>
        <%= f.input :service_date, :as => "string" %>
      </div>
      <div class="span8">
      <%= f.input :tax1,:as => "string", :input_html => { :class => "input-mini"} %>
      <%= f.input :tax2,:as => "string", :input_html => { :class => "input-mini"} %>
      <%= f.input :notes, :input_html => { :class => 'span6', :rows => 5 } %>
      </div>
    </div>
    
    <h3>Invoice Details</h3>
    <div class="items"> 
    <%= link_to "Add a Billing Item", '#', class: "add" %><br/><br/>    
    <table class="table">
      <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th></th>
      </tr>
    
      <%= f.nested_fields_for :items, show_empty: true do |builder| %>
        <% if builder %>
          <tr>
            <fieldset class="item">
                <td><%= builder.input :name, :label => false, placeholder: 'Description', :input_html => { :class => "input-xlarge"}  %></td>
                <td><%= builder.input :quantity, :label => false,:as => "string", placeholder: 'Quantity', :input_html => { :class => "input-mini"} %></td>
                <td><%= builder.input :cost_per, :label => false,:as => "string", placeholder: '$ per item', :input_html => { :class => "input-small"} %></td>
                <td><%= link_to "Remove", '#', class: "remove" %></td>
                <%= builder.hidden_field :id %>
                <%= builder.hidden_field :_destroy %>
            </fieldset>
          </tr>
        <% else %>
        
        
          <td class="empty">There are no billing items.</td>
        </tr>
        <% end %>
 
        
      <% end %>


    

      
              </table>  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




