<table class="table table-hover">
  <tr>
    <th>Client</th>
    <th>Job Name</th>
    <th class="hidden-phone">Invoiced Date</th>
    <th class="hidden-phone">Due Date</th>
    <% if status == "Open" %>
      <th class="hidden-phone">Balance</th>
      <th>Status</th>
    <% end %>
  </tr>

<% invoices.each do |invoice| %>
  <tr data-link="<%= invoice_path(invoice) %>">
    <td><%= invoice.client.client_name %></td>
    <td><%= invoice.job_name %></td>
    <td class="hidden-phone"><%= (invoice.invoice_date).strftime("%m/%d/%Y") if invoice.invoice_date? %></td>
    <td class="hidden-phone"><%= (invoice.due_date).strftime("%m/%d/%Y") if invoice.due_date? %></td>
    <% if status == "Open" %>
      <td class="hidden-phone <%= balance_highlight(invoice) %>"><%= number_to_currency(invoice.balance) if invoice.balance? %></td>
      <td><%= invoice_status(invoice) %>
    <% end %>
  </tr>
<% end %>
</table>