<table class="table table-hover">
  <tr>
    <th>Client</th>
    <th>Job Name</th>
    <th>Invoiced Date</th>
    <th>Due Date</th>
    <% if status == "Open" %>
      <th>Balance</th>
      <th>Status</th>
    <% end %>
  </tr>

<% invoices.each do |invoice| %>
  <tr data-link="<%= invoice_path(invoice) %>">
    <td><%= invoice.client.client_name %></td>
    <td><%= invoice.job_name %></td>
    <td><%= (invoice.invoice_date).strftime("%m/%d/%Y") if invoice.invoice_date? %></td>
    <td><%= (invoice.due_date).strftime("%m/%d/%Y") if invoice.due_date? %></td>
    <% if status == "Open" %>
      <td><%= number_to_currency(invoice.balance) if invoice.balance? %></td>
      <td><%= invoice_status(invoice) %>
    <% end %>
  </tr>
<% end %>
</table>