<div>
	<h1>Invoices</h1>
</div>

<table class="table">
  <tr>
    <th>Job name</th>
    <th>Service Date</th>
    <th>Notes</th>
  </tr>


<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.job_name %></td>
    <td><%= invoice.notes %></td>
    <td><%= invoice.service_date %></td>
    <td><%= link_to 'Show ', invoice %>|
    <%= link_to ' Edit ', edit_invoice_path(invoice) %>|
    <%= link_to ' Destroy', invoice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
