<div>
	<h1>Invoices</h1>
</div>
<h3>Open Invoices</h3>

<table class="table">
  <tr>
    <th>Job Name</th>
    <th>Service Date</th>
    <th>Invoice Emailed Date</th>
  </tr>

<% @open_invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.job_name, invoice %></td>
    <td><%= (invoice.service_date).strftime("%m/%d/%Y") %></td>
    <td><%= (invoice.billings.last.created_at).strftime("%m/%d/%Y %I:%M %p") if invoice.billings.exists? %></td>
    <td>
    <%= link_to 'Edit ', edit_invoice_path(invoice) %>|
    <%= link_to ' Destroy', invoice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<h3>Sent Invoices</h3>

<table class="table">
  <tr>
    <th>Job Name</th>
    <th>Service Date</th>
    <th>Invoice Emailed Date</th>
  </tr>

<% @sent_invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.job_name, invoice %></td>
    <td><%= (invoice.service_date).strftime("%m/%d/%Y") %></td>
    <td><%= (invoice.billings.last.created_at).strftime("%m/%d/%Y %I:%M %p") if invoice.billings.exists? %></td>
    <td>
    <%= link_to 'Edit ', edit_invoice_path(invoice) %>|
    <%= link_to ' Destroy', invoice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
