<p id="notice"><%= notice %></p>

<h3>Invoice Summary</h3>

<table class="table">

  <tr>
    <td><b>Job Name:</b></td>
    <td><%= @invoice.job_name %></td>
  </tr> 
  <tr>
    <td><b>Notes:</b></td>
    <td><%= @invoice.notes.gsub(/\n/, '<br/>').html_safe %></td>
  </tr>
  <tr>
    <td><b>Service date:</b></td>
    <td><%= @invoice.service_date %></td>
  </tr>  
  <tr>
    <td><b>Total Bill:</b></td>
    <td><%= number_to_currency(@balance) %></td>
  </tr>  
  
</table>

<h4>Billing Details: </h4>

<table class="table">

  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Unit Cost</th>
    <th>Total Cost</th>
  </tr>

  <% @invoice.items.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td><%= i.quantity %></td>
      <td><%= i.cost_per %></td>
      <td><%= i.total_cost %></td>
    </tr> 
  <% end %>
   
  
</table>


<%= link_to "Printable Receipt (PDF)", invoice_path(@invoice, format: "pdf"), :class => 'btn' %><br/><br/>
<% if @invoice.client.email? %>
  <%= form_for [@invoice, @billing]  do |f| %>
    <%= f.submit "Email Invoice to #{@invoice.client.email}", :class => 'btn' %>
  <% end %>
<% else %>
  Do you want to email the invoice to your client?
  <%= link_to "Click to add the client's invoice", edit_client_path(@invoice.client) %><br/>
<% end %>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>



