<p id="notice"><%= notice %></p>

<p>
  <b>Job name:</b>
  <%= @invoice.job_name %>
</p>

<p>
  <b>Notes:</b><br/>
  <%= @invoice.notes.gsub(/\n/, '<br/>').html_safe %>
</p>

<p>
  <b>Service date:</b>
  <%= @invoice.service_date %>
</p>

<p>
  <b>Total Bill:</b>
  <%= number_to_currency(@balance) %>
</p>

<p>
<b>Items:</b><br/>
<% @invoice.items.each do |i| %>
  <b>Name: </b><%= i.name %>;
  Quantity: <%= i.quantity %>;
  Cost Per Item: <%= i.cost_per%><br/>
<% end %>
</p>

<%= link_to "Printable Receipt (PDF)", invoice_path(@invoice, format: "pdf") %><br/>
<% if @invoice.client.email? %>
  <%= form_for [@invoice, @billing]  do |f| %>
    <%= f.submit "Email Invoice to #{@invoice.client.email}" %>
  <% end %>
<% else %>
  Do you want to email the invoice to your client?
  <%= link_to "Click to add the client's invoice", edit_client_path(@invoice.client) %><br/>
<% end %>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>



