<h3>Invoice Summary</h3>

<%= link_to 'Edit', edit_invoice_path(@invoice), :class => 'btn', :id => 'invoice_edit' %>
<div class="btn-group invoice_nav2">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    More Actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Printable Receipt (PDF)", invoice_path(@invoice, format: "pdf") %></li>
    <li><%= link_to 'Show Payments', invoice_payment_path(@invoice) %></li>
    <li><%= link_to ' Delete', invoice_path(@invoice), confirm: 'Are you sure?', method: :delete %></li>
    
  </ul>
</div>
<div id="balance">
  Balance:
  <%= number_to_currency(balance(@invoice)) %>
  <%= link_to 'Post Payment', new_invoice_payment_path(@invoice), :class => 'btn' %><br/><br/>
  </div>

<table class="table">

  <tr>
    <td><b>Job Name:</b></td>
    <td><%= @invoice.job_name %></td>
  </tr> 
  <% if @invoice.po_number? %>
    <tr>
      <td><b>PO #:</b></td>
      <td><%= @invoice.po_number %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Notes:</b></td>
    <td><%= @invoice.notes.gsub(/\n/, '<br/>').html_safe %></td>
  </tr>
  <tr>
    <td><b>Service date:</b></td>
    <td><%= (@invoice.service_date).strftime("%m/%d/%Y") %></td>
  </tr> 
  <% if @invoice.invoice_date? %> 
    <tr>
      <td><b>Invoice date:</b></td>
      <td><%= (@invoice.invoice_date).strftime("%m/%d/%Y") %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Sub Total:</b></td>
    <td><%= number_to_currency(@invoice.subtotal) %></td>
  </tr>
  <tr>
    <td><b>Tax: ( <%= @invoice.tax1 %>% )</b></td>
    <td><%= number_to_currency(@invoice.total_tax1) %></td>
  </tr>
  <% if @invoice.total_tax2 > 0 %>
    <tr>
      <td><b>Tax 2: ( <%= @invoice.tax2 %>% )</b></td>
      <td><%= number_to_currency(@invoice.total_tax2) %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Amount Due:</b></td>
    <td><%= number_to_currency(@invoice.total) %></td>
  </tr>
    
  
</table>

<h4>Billing Details: </h4>

<table class="table">

  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Unit Cost</th>
    <th>Total Cost</th>
  </tr>

  <% @invoice.items.sort { |a,b| a.name <=> b.name }.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td><%= i.quantity %></td>
      <td><%= number_to_currency(i.cost_per) %> </td>
      <td><%= number_to_currency(i.total_cost) %>
      <% if i.tax1? %>
        &#185;
      <% end %>
      <% if i.tax2? %>
        &#178;
      <% end %>
      </td>
    </tr> 
  <% end %>
   
  
</table>


<% if @invoice.client.email? %>
  <%= form_for [@invoice, @billing]  do |f| %>
    <%= f.submit "Email Invoice to #{@invoice.client.email}", :class => 'btn' %>
  <% end %>
<% else %>
  Do you want to email the invoice to your client?
  <%= link_to "Click to add the client's email", edit_client_path(@invoice.client) %><br/><br/>
<% end %>
<%= link_to 'Send Email', new_invoice_email_path(@invoice), :class => 'btn' %>

<%= link_to 'Back ', invoices_path %>






