<div>
	<h1>Clients</h1>
</div>

<table class="table table-hover">
  <tr>
    <th>Client name</th>
    <th>City</th>
    <th>State</th>
    <th></th>

  </tr>

<% @clients.each do |client| %>
  <tr data-link="<%= client_path(client) %>">
    <td><%= client.client_name %></td>
    <td><%= client.city %></td>
    <td><%= client.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Client', new_client_path, :class => 'btn' %>
