<div class="row">
  <div class="span6">
  	<h1>Clients</h1>
  </div>
  <div class="span6 search">
    <%= search_form_for @search, :builder => SimpleForm::FormBuilder do |f| %>
      <div class="field">
      <%= f.text_field :client_name_cont, placeholder: 'Search by Name' %>
      <%= f.button :submit, "Search", :class => 'search_button' %>
      </div>

    <% end %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Client name</th>
    <th>Address</th>

  </tr>

<% @clients.each do |client| %>
  <tr data-link="<%= client_path(client) %>">
    <td><%= client.client_name %></td>
    <td><%= client.address.gsub(/\n/, '<br/>').html_safe %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Client', new_client_path, :class => 'btn' %>
