<div class="page-header">
	<h1><%= @client.client_name %></h1>
</div>


<p>
  <b>Address1:</b>
  <%= @client.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @client.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @client.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= number_to_phone(@client.phone) %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Notes:</b><br/>
  <%= @client.notes.gsub(/\n/, '<br/>').html_safe %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
