<%= simple_form_for [@client, @contact], html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone_work %>
  <%= f.input :phone_cell %>
  <%= f.input :notes, :input_html => { :class => 'span7', :rows => 10 } %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-warning' %>
    <% if params[:action] == "edit" %>
      <%= link_to 'Cancel', client_contact_path(@client, @contact), :class => 'btn' %>
      <%= link_to ' Delete', client_contact_path(@client, @contact), confirm: 'Are you sure you want to delete this contact, no take backsies?', method: :delete, :class => 'btn float_right' %>
    <% else %>
      <%= link_to 'Cancel', client_contacts_path(@client), :class => 'btn' %>
    <% end %>
  </div>
<% end %>