<%= simple_form_for(@company, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :address1 %>
  <%= f.input :address2 %>
  <%= f.input :city %>
  <%= f.input :state, :collection => us_states %>
  <%= f.input :zip %>
  <% if @company.logo? %>
    <%= image_tag(@company.logo, :size => "50x550") %><br/>
    <%= f.input :remove_logo, :as => :boolean %>
  <% end %>
  <%= f.input :remote_logo_url, :label => "Enter a URL for the Company Logo" %>
  <%= f.input :logo, :label => "or Upload one", :as => :file %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>