<%= simple_form_for(@company, :html => {:multipart => true, class: "form-vertical"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :address, :input_html => { :rows => 5 } %>
  <%= f.input :payment_due, :collection => payment_terms %>
  <% if @company.logo? %>
    <%= image_tag(@company.logo, :size => "50x550") %><br/>
    <%= f.input :remove_logo, :as => :boolean %>
  <% end %>
  <%= f.input :remote_logo_url, :label => "Enter a URL for the Company Logo" %>
  <%= f.input :logo, :label => "or Upload one", :as => :file %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-warning' %>
    <%= link_to 'Cancel', @company, :class => 'btn' %>
  </div>
<% end %>