<%= simple_form_for [:invoice, @payment], html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :payment_date, :as => "string" %>
  <%= f.input :amount, :as => "string", :input_html => { :value => (number_with_precision(f.object.amount, :precision => 2))} %>
  <%= f.input :note, :input_html => { :class => 'span7', :rows => 3 } %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-warning' %>
    <% if params[:action] == "edit" %>
      <%= link_to 'Cancel', invoice_payment_path(@payment.invoice_id), :class => 'btn' %>
      <%= link_to ' Delete', invoice_payment_path(@payment), confirm: 'Are you sure?', method: :delete, :class => 'btn float_right' %>
    <% else %>
      <%= link_to 'Cancel', @invoice, :class => 'btn' %>
    <% end %>
  </div>
<% end %>