<%= simple_form_for(@invoice, :url => { :controller => "appointments", :action => method} ) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :client_id do %>
      <%= f.input_field :client_id, collection: current_user.clients.all, label_method: :client_name %>
      <%= link_to "Add New Client", new_client_path %>
    <% end %> 
    <%= f.input :job_name %>
    <%= f.input :appointment_date, :as => "string", :input_html => {:class => "appointment_date"} %> 

    <%= f.input :appointment_date, :label => "Time" do %>
        <div class="input-append bootstrap-timepicker-component">
          <%= f.input_field :appointment_date, :as => "string", :ignore_date => true, :class => 'timepicker-default input-small' %>
          <span class="add-on"><i class="icon-time"></i></span>
        </div>
    <% end %>     
    <%= f.input :notes, :input_html => { :class => 'span6', :rows => 5 } %>  
    <%= f.hidden_field :payment_terms %>
  </div>

  <div class="form-actions">
  <% if method == "create" %>
    <%= f.button :submit, "Set Appointment", :class => 'btn-warning'  %>
  <% else %>
    <%= f.button :submit, "Update Appointment", :class => 'btn-warning'  %>
  <% end %>
    <%= link_to 'Cancel', @invoice, :class => 'btn' %>
  </div>

<% end %>