The invoice will be sent to: <%= @invoice.client.email %>
If this not correct, <%= link_to "Click to update the email address", client_path(@invoice.client) %><br/><br/>


<%= simple_form_for [:invoice, @email], html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :email_recipients do |email_recipients_form| %>
    <%= email_recipients_form.input :_destroy, as: :radio_buttons %>
    <%= email_recipients_form.input :contact_id, as: :hidden %>
  <% end %>
<%
=begin
%>
  <% @invoice.contacts.each do |c|%>
    <%= f.nested_fields_for :email_recipients, show_empty: true do |builder| %>
      <fieldset class="item">
        <%= builder.input :contact_id, :as => :check_boxes, :input_html => { :value => c.id }, :label => c.name + " (" + c.email + ")" %>
      </fieldset>
    <% end %>
  <% end %>
<%
=end
%>

  <%= f.input :subject, :as => "string" %>
  <%= f.input :message, :input_html => { :class => 'span7', :rows => 10 } %>

  <div class="form-actions">
    <%= f.button :submit, "Send Invoice", :class => 'btn-warning' %>
    <%= link_to 'Cancel', invoice_path(@invoice), :class => 'btn' %>
  </div>
<% end %>
