<% if @email.email_recipients.blank? == true then %>
  To send an invoice you will need to either add a contact or add an email address for an existing contact.<br/>
  <div class="form-actions">
  <%= link_to "Update contact", client_contacts_path(@invoice.client), :class => 'btn btn-warning ' %>
  <%= link_to 'Cancel', invoice_path(@invoice), :class => 'btn' %>
  </div>
<% else %>

<%= simple_form_for [:invoice, @email], html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>
  <% count = 0 %>
  <div id="emailto">
    <%= f.simple_fields_for :email_recipients do |email_recipients_form| %>
      <%= email_recipients_form.input :_destroy, as: :boolean, :label => "Recipients" do %>
        <%= email_recipients_form.check_box :_destroy, {}, "false", "true" %>
        <% contact = @invoice.contacts.find(@email.email_recipients[count].contact_id) %>
        <%= contact.name + " (" + contact.email + ")" %>
      <% end %>
      <%= email_recipients_form.input :contact_id, as: :hidden %>
      <% count += 1 %>
    <% end %>
  </div>

  <%= f.input :subject, :as => "string" %>
  <%= f.input :message, :input_html => { :class => 'span7', :rows => 10 } %>
  <%= f.hidden_field :email_type %>

  <div class="form-actions">
    <% if @email.email_type == "thanks" %>
      <%= f.button :submit, "Send Thanks", :class => 'btn-warning' %>
    <% else %>
      <%= f.button :submit, "Send Invoice", :class => 'btn-warning' %>
    <% end %>
    <%= link_to 'Cancel', invoice_path(@invoice), :class => 'btn' %>
  </div>
<% end %>
<% end %>
